.ticker{
  background: #f3fbf7;
  padding: 10px;
  border: 1px solid #81c784;
  
}

.ticker-item{
  display: inline-block;
  margin-right: 160px;
  font-size: 20px;
  font-family: "Segoe UI",Arial,sans-serif;
  color: #81c784;
}

.ticker-item:after{
  content: "•";
  margin-left: 40px;

  opacity: 0.5;
}

.dark .ticker{
  background: #121212;
  border: 1px solid #81c784;
}

.dark .ticker-item{
  color: #81c784;
}

.ticker-item:hover{
  transform: translateY(-3px) scale(1.05);
}



